
<%= render 'shared/navbar' %>

<div class="home-wrapper">

<div class="stop-scrolling">
   <div class="home-wrapper">
<img class="banner-picture" src="<%= image_path('banner-hands-in-middle.png') %>"alt="" style="z-index: 0">
    <div class="form-group" style="z-index: 1">
    <div class="header">
      <h4 id="typer-js"></h4>
    </div>
    <%= form_with model: @group, local: true do |form| %>
      <div class="form-inputs d-flex">
        <div id="group_name">
        <%= form.text_field :name, placeholder: "Try to be creative... ;)" %>
        </div>
      </div>
      <div class="form-actions">
        <%= form.submit "Start", class: "btn-new-group"%>
      </div>
    <% end %>
    </div>
  </div>
</div>

</div>
