<!-- http://localhost:3000/group/shared/bzPX9O61t015WMl5CV1PPc+eNkIFFk0E8SptGYU+ePTJrk%2F9FaiiV24bdgunoMR9OH5gDEhMfDFyhKPkPnp%2FsA== -->
<%= render 'shared/navbar' %>

<div class="route-view">

  <div class="bars-and-map">

    <div class="bars">
      <div class="header">
        <h1><%= @group.name %></h1>
        <h3>Your Bars for the Night:</h3>
      </div>
      <% @stops.each do |stop| %>
        <%= render 'shared/shared-bar-card', stop: stop %>
      <% end %>
    </div>

    <div class="map-placeholder" id="map" style="width: 70vw; height: 100vh;" data-markers="<%= @markers.to_json %>" data-route="<%= @route.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  </div>

</div>

<div id="share-button"><i class="fas fa-share-square"></i></div>

<div id="popup-bg" style="width: 100vw; height: 100vh; justify-content: center; align-items: center; padding: 2em; background-color: rgba(0, 0, 0, 0.7); position: absolute; top: 0; left: 0; z-index: 2;">
  <div class="share-popup">
    <div class="info-banner">
      <h1 class="info-banner">Share your BarCrawl with your Friends</h1>
      <i onclick="closePopUp()" id="close-icon" class="fas fa-times"></i>
    </div>

    <div class="share-options">
      <div class="copy-link">
        <input type="text" value="https://barcrawlers.herokuapp.com/group/shared/<%= @group.token %>" id="group-link">
        <button onclick="copyLink()" id="copy-button"><i class="far fa-copy"></i> Copy</button>
      </div>
      <h4><a class="form-button" href="mailto:?subject=Let's%20go%20on%20a%20BarCrawl%20tonight%21&amp;body=You%20can%20join%20my%20group%20<%= @group.name %>%20by%20clicking%20here%3A%0D%0A%0D%0Ahttps%3A%2F%2Fbarcrawlers.herokuapp.com%2Fgroup%2Fshared%2F<%= @group.token %>"><i class="far fa-envelope"></i> Email</a></h4>
      <img src="<%= @qr_code %>" alt="">
    </div>
  </div>
</div>

<div class="start-link">
  <%= link_to ("<i class='far fa-play-circle'></i> Start BarCrawl").html_safe, unique_group_stop_path(@group.token, 1) %>
</div>

<script>
  function closePopUp() {
    document.getElementById('popup-bg').classList.remove('show-popup');
  }

  document.getElementById('share-button').addEventListener('click', event => {
    if (navigator.share) {
      navigator.share({
        title: 'BarCrawler - <%= @group.name %>',
        url: 'https://barcrawlers.herokuapp.com/group/shared/<%= @group.token %>'
      })
      .catch(console.error);
    } else {
      document.getElementById('popup-bg').classList.add('show-popup');
    }
  });

  function copyLink() {
    /* Get the text field */
    var copyText = document.getElementById("group-link");

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /*For mobile devices*/

    /* Copy the text inside the text field */
    document.execCommand("copy");

    /* Alert the copied text */
    document.getElementById('copy-button').style = 'background-color: #070; border: #030 solid 2px;';
    document.getElementById('copy-button').innerHTML = '<i class="fas fa-check"></i> Copied';
  }
</script>
