<div data-barid="<%= bar.id %>" class="bar-card">
  <div class="card-img" style="background-image: url(<%= bar[:photo_url] %>);background-size: cover;"></div>
  <h4><%= bar[:name].truncate(30) %></h4>
  <p><%= bar[:address].truncate(40) %></p>
  <div class="rating-price-info">
    <p class="card-rating">
    <% bar[:rating].to_i.times do %>
      <i class="fas fa-beer full-beer"></i>
    <% end %>
    <% if (bar[:rating] % 1) >= 0.5 %>
      <i class="fas fa-beer half-beer"></i>
      <% (4 - bar[:rating].to_i).times do %>
        <i class="fas fa-beer empty-beer"></i>
      <% end %>
    <% else %>
      <% (5 - bar[:rating].to_i).times do %>
        <i class="fas fa-beer empty-beer"></i>
      <% end %>
    <% end %>
    </p>
    <p class="card-open-until"><i class="far fa-clock"></i> <%= bar[:open_until][5..] %></p>
    <p class="card-price">
      <% if bar[:price].nil? == false %>
        <% bar[:price].to_i.times do %>
        <i class="fas fa-euro-sign"></i>
        <% end %>
      <% end %>
    </p>
  </div>
<i class="tinder-icon-select fas fa-check"></i>
<i class="tinder-icon-reject fas fa-times"></i>
</div>
