
  <div class="home-wrapper">

<div class="stop-scrolling">
   <div class="home-wrapper">

     <img class="banner-picture" src="<%= image_path('banner-responsible-drinking.png') %>"alt="">
     <img class="banner-picture" src="<%= image_path('banner-colors-group-party.jpg') %>" alt="">
     <img class="banner-picture" src="<%= image_path('banner-group-wall.png') %>" alt="">
     <img class="banner-picture" src="<%= image_path('banner-st-miguel.png') %>" alt="">
     <img class="banner-picture" src="<%= image_path('banner-outdoor-party.png') %>" alt="">

  <div class="home-container">
    <div class="home-info">

      <div class="home-text">
      <h1>BarCrawler</h1>
      <p>Find the perfect route for an epic night out</p>
      </div>
      <div class="search-bar-homepage">
        <%= render 'search' %>

      </div>

    </div>

  </div>
</div>
</div>



