<div class="banner">
  <img class="banner-picture" src="<%= image_path('banner-bar.jpg') %>" alt="">
  <img class="banner-picture" src="<%= image_path('banner-liquor.jpg') %>" alt="">
  <img class="banner-picture" src="<%= image_path('banner-bourbon.jpg') %>" alt="">
  <img class="banner-picture" src="<%= image_path('banner-sign.jpg') %>" alt="">
  <img class="banner-picture" src="<%= image_path('banner-colors-group-party.jpg') %>" alt="">
  <img class="banner-picture" src="<%= image_path('banner-bar-with-dj.jpg') %>" alt="">

  <div class="container-header banner-text">
    <div class="home-banner">
      <h1 class="">BarCrawler</h1>
      <p class="">Find the perfect route for an epic night out</p>

      <div class="home-button">
      <a href="bars" data-method="post" class="btn-home-address"><i class="fas fa-map-marker"></i> Create Crawl</a>
      <a href="group_stop" class="btn-home-code"><i class="fas fa-qrcode"></i> Enter Code</a>
      </div>

       <div class="search-bar-homepage">
        <%= render 'search' %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
